body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.header, .bgimg-2, .bgimg-3 {

  position: relative;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.header {
  background-image: url("../images/header.jpg");
  min-height: 100%;
  position: relative;
}

.bgimg-2 {
  background-image: url("../images/piz.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../images/piz2.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}


.controls-top h2{
  color: rgb(235, 112, 30);
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bolder;
}
#about-us{
  min-height: 70vh;
  align-items: center;

}
#about-us .col-sm-12 {
  background-color: #ffa500;
}
.about-pic {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}
#about-us .contentaboutus{
  padding: 65px 50px 85px;
  width: 100%;
  /* background-color: #ffa500; */
  float:right;
  text-align: justify;
  overflow-x: hidden;
}
.d-flex{
  display: flex !important;
}

.card-title{
  text-align: center;
  color: green;
  font-weight: 800;
}


.col-md-4{
  border-radius: 10%;
  padding: 10px;
}
 /* Turn off parallax scrolling for tablets and phones */
 @media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}